:root {
  --color-gold: #ffb87a;
  --color-white: #f2f3fb;
  --color-gray: #9191a1;
  --color-black: #12121a;
  --color-purple: #9ca4e1;

  --layout-width: 1200px;
  --body-background: var(--color-black);

  --text-primary: var(--color-gray);
  --text-secondary: var(--color-gray);
  --text-title: var(--color-white);
  --text-selection: var(--color-purple);
  --text-branding: var(--color-gold);
  /* BUG: currently can't be accessed from emotion due to interpolation error */
  --text-semibold: 600;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-serif: 'EB Garamond', serif;
  --font-line-height: 1.4;
  --font-size-reset: 62.5%;

  --font-size-regular: 1.6rem;
  --font-size-s: 1.2rem;
  --font-size-m: 2.4rem;
  --font-size-l: 3.8rem;

  --transition-regular: ease-in-out;
  --transition-time-fast: 0.1s;
  --transition-time-regular: 0.2s;
  --transition-time-slow: 0.25s;
}

body.dark {
  --text-title: var(--color-gold);
}
