:root {
  --color-gold: #ffb87a;
  --color-white: #f2f3fb;
  --color-gray: #9191a1;
  --color-black: #12121a;
  --color-purple: #9ca4e1;

  --body-background: var(--color-black);

  --text-primary: var(--color-gray);
  --text-secondary: var(--color-gray);
  --text-title: var(--color-white);
  --text-selection: var(--color-purple);
  --text-branding: var(--color-gold);

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-serif: 'EB Garamond', serif;
  --font-line-height: 1.4;
  --font-size-reset: 62.5%;
  --font-size: 1.6rem;

  --time-transition-fast: 0.1s;
  --time-transition-regular: 0.2s;
  --time-transition-slow: 0.25s;
}

body.dark {
  --text-title: var(--color-gold);
}
