:root {
  --color-gold: rgba(255, 184, 122, 1);
  --color-white: rgba(242, 243, 251, 1);
  --color-gray: rgba(145, 145, 161, 1);
  --color-black: rgba(18, 18, 26, 1);
  --color-purple: rgba(156, 164, 225, 1);

  --textPrimary: var(--color-gray);
  --textSecondary: var(--color-gray);
  --textTitle: var(--color-white);
  --textSelectionBackground: var(--color-purple);
  --brandingColor: var(--color-gold);
  --background: var(--color-black);

  --spacer-0: 0;
  --spacer-4: 0.4rem;
  --spacer-8: 0.8rem;
  --spacer-12: 1.2rem;
  --spacer-16: 1.6rem;
  --spacer-20: 2rem;
  --spacer-24: 2.4rem;
  --spacer-32: 3.2rem;
  --spacer-40: 4rem;
  --spacer-48: 4.8rem;
  --spacer-56: 5.6rem;
  --spacer-64: 6.4rem;
  --spacer-72: 7.2rem;

  --time-transition-00: 0.1s;
  --time-transition-01: 0.2s;
  --time-transition-02: 0.25s;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-serif: 'EB Garamond', serif;
  --font-weight: 400;
  --font-line-height: 1.4;
  --font-size-reset: 62.5%;
  --font-size: 1.6rem;
}
